{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Página inicial{% endblock %}
{% block content %}
<div id="content-container">
    <div id="image-container"><img src="{% static 'images/home.jpg' %}"> </div>
    <div id="context-container">
        <div id="text">
        <h1>Organize sua vida de uma forma prática e divertida.</h1>
        <h3>Descubra como as checklists, workbooks e planners podem transformar a sua produtividade e organização em todos os aspectos da vida. Desde o ambiente do seu trabalho e estudos, até a gestão da sua casa, viagens e saúde, essas poderosas ferramentas proporcionam um caminho eficaz para o sucesso em cada empreendimento. Deixe-nos ajudá-lo a simplificar e aprimorar sua jornada, tornando-a prazerosa e repleta de conquistas.</h3>
        </div><!---
        <div id="context-container2">
        </div>
        <div id="image-container2">-->
    </div>
{% endblock %}